# Fortran specific files
*.mod
*.smod
*.o
*.obj
*.a
*.lib
exe
exe_newtonian
*.dll
*.so
*.dylib
*.mod.dSYM
*.pdb
*.plt
fort.*
Iteration_*.plt
Iteration_*.plt_
Bubble1.dat_*
Bubble2.dat_*
Ambient.dat_*

# Compiled executables
*.out
*.app

# Ignore editor-specific files
*~
*.swp
*.unv

# ignore folders also
1_results_dat/
mesh/__pycache__/
mesh/remesh.py_*
sol/
tecplot/
meshq/
