# Fortran specific files
*.mod
*.smod
*.o
*.obj
*.a
*.lib
exe
*.dll
*.so
*.dylib
*.mod.dSYM
*.pdb
*.plt
Iteration_*.plt
Iteration_*.plt_
fort.*
.Unbounded

# Compiled executables
*.out
*.app

# Ignore editor-specific files
*~
*.swp
*.unv

# ignore folders also
1_results_dat/
mesh/__pycache__/
sol/
tecplot/
meshq/
